@import 'tailwindcss';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-brand-dark: #1d2130;
  --color-brand-blue: #444cf7;
  --color-brand-orange: #f58a4b;
  --color-brand-peach: #ffd3af;
  --color-brand-indigo: #5d5fef;
  --color-brand-light-blue: #f4f6fc;
  --color-brand-soft-blue: #f9fafe;
  --color-brand-bg-peach: #ffe6d5;
  --color-brand-purple: #6b48ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #1d2130;
}

a {
  text-decoration: none;
}
